.footer {
  padding-bottom: 20px;
  background: url(../dist/img/bk4.png) no-repeat center center/ 300% !important;
}
.footer .head_foot {
  height: 250px !important;
  background: none !important;
  overflow: hidden;
}

.footer .navs .logo {
  margin-left: 40px;
}

.footer .navs .nav {
  padding: 12px 20px;
  border-radius: 5px;
  transition: 0.2s ease-in-out;
}
.footer .navs .nav a {
  color: var(--white);
  font-size: 16px;
  text-decoration: none;
}
.footer .navs .search {
  border: 1px solid var(--gray);
  border-radius: 5px;
  color: var(--white);
  font-size: 16px;
  display: flex;
  justify-content: space-between;
}
.footer .navs .search button {
  outline: none;
  padding: 10px 20px;
  background-color: var(--red);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  cursor: pointer;
}
.footer .navs .search input {
  width: 100%;
  background: transparent;
  /* border-right: none; */
  caret-color: var(--white);
  padding-left: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
}
/* hover */
.footer .navs .nav.active {
  border: 1px solid var(--red);
  opacity: 0.8;
}
.footer .navs .nav:hover {
  opacity: 0.8;
}
.footer .navs .nav.active a {
  color: var(--red);
}

/* copywrite */

.copywrite {
  display: flex;
  justify-content: space-around;
  color: var(--white);
}
.copywrite a {
  text-decoration: none;
  color: var(--white);
}
.copywrite a:hover {
  color: var(--gray_text);
}

.copywrite .line {
  display: inline-block;
  margin: 0 6px;
  width: 2px;
  height: 12px;
  background-color: var(--white);
}

/* ============res table ============= */
@media only screen and (max-width: 768px) {
  .footer, .footer .head_foot, .footer .head_foot span {
    display: block !important;
  }
  .footer .head_foot{
    height: unset !important;
  }
  .footer .head_foot .logo{
    width: 100%;
    margin-left: 0 !important;
  }
  .footer .head_foot span{
    margin: 20px auto;
    width: 200px;
    text-align: center;
  }
  .footer .copywrite{
    display: block !important;
    text-align: center;
    line-height: 50px;
  }
  .footer .navs .search{
    width: 50%;
    margin: 0 auto;
  }
}

/* ==== mobile === */
@media screen and (max-width: 460px) {
  .footer{
    margin-bottom: 100px !important;
  }
  .footer .navs .search{
    width: 70%;
  }
}