@font-face {
  font-family: "GreatVibes-Regular";
  src: url("../dist/font/Pinyon_Script/PinyonScript-Regular.ttf");
}

:root {
  --main_bg: #11112d;
  --white: #ffffff;
  --red: #e6145b;
  --gray: #595876;
}

.container {
  margin: 40px;
}

/* header */
.head_foot {
  background: url(../dist/img/bk4.png) no-repeat center center / 200%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  padding: 40px;
  border-radius: 10px;
}
.head_foot .logo {
  width: 18%;
}
/* logo */
.head_foot .logo a {
  text-decoration: none;
}
.head_foot .logo a span:first-child {
  font-family: "GreatVibes-Regular", sans-serif;
  font-weight: 500;
  font-size: 44px;
  color: var(--white);
  letter-spacing: 4px;
}
.head_foot .logo a span:last-child {
  color: var(--red);
  font-size: 18px;
}
/* function-left */
.menu {
  display: none;
}
.function-left {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
/* nav */
.function-left .nav {
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  width: 65%;
  justify-content: space-around;
}
.function-left .nav .nav-item {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 200px;
  margin: 0 -200px;
  height: 100px;
  transition: transform 0.25s ease-out;
  transform-origin: center;
  cursor: default;
  pointer-events: unset;
}
.function-left .nav .nav-item a {
  color: var(--white);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
  font-family: sans-serif;
  margin: 0 10px;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
  z-index: 100;
  position: relative;
  pointer-events: all;
  transition: 0.4s all ease;
}
.function-left .nav .nav-item a:hover{
  color: var(--red);
}

/* underline animation hover */
.function-left .nav .nav-item a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: var(--red);
  transition: transform 0.25s ease-out;
  transform-origin: center;
}
.function-left .nav .nav-item a:hover::after {
  transform: scaleX(1);
}

.function-left .nav .nav-item.active {
  background: url(../dist/img/bk.png) no-repeat center center/200%;
  background-size: cover;
  transition: 0.4s ease-in-out all;
  /* background-clip: padding-box; */
  box-shadow: 0 10px 100px var(--main_bg) inset;
}
.function-left .nav .active span {
  border: 1px solid var(--red);
  border-radius: 10px;
  padding: 50px 10px;
}
.function-left .nav .active a::after {
  width: 80%;
  left: 10px;
}
/* line */

.header .function-left .line {
  border-left: 2px solid var(--white);
  width: 10px;
  height: 100px;
  margin-left: 10px;
}

/* hover */
.header .function-left button {
  margin-left: 10px;
}

/* ================ responsive table ================== */
@media only screen and (max-width: 1000px) {
  /* default iPad screens */
  .function-left {
    position: relative;
  }
  .function-left .line {
    display: none !important;
  }
  .function-left .nav {
    padding: 20px 0;
    position: absolute;
    border: none;
    display: flex !important;
    transform: translateX(1000px);
    opacity: 0;
    transition: 0.4s ease-in-out;
    flex-direction: column;
    justify-content: space-between;
    top: 50px;
    right: 120px;
    height: 500px;
    width: 200px;
    z-index: 10000;
    background-color: var(--red);
    border-radius: 5px;
    box-shadow: 0px 2px 10px var(--red);
  }
  .function-left .menu {
    background: url(../dist/img/hamberger.png) no-repeat center center;
    display: block !important;
    border: 1px solid var(--red);
    padding: 4px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.6s ease-in-out;
    box-shadow: 0 0 5px var(--red);
    width: 40px;
    height: 40px;
  }
  .function-left .menu.active {
    transform: rotate(-45deg);
  }
  .function-left .nav.show {
    opacity: 1;
    transform: translateX(0);
  }
  .function-left .nav::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: -12px;
    right: 12px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid var(--red);
  }
  .function-left .nav .nav-item {
    margin: 0;
    padding: 0;
  }
  .function-left .nav .nav-item a:hover{
    color: var(--white);
    opacity: 0.9;
  }
  .function-left .nav .active span {
    border-color: var(--white);
    width: 220px;
    padding: 40px 10px;
  }
  .function-left .nav .nav-item a::after {
    background-color: var(--white);
  }
  .function-left .nav .nav-item.active span {
    background-size: 200%;
  }
}

/* mobile */
@media only screen and (max-width: 460px){
  .head_foot{
    padding: 20px !important;
  }
  .head_foot .logo a span:first-child{
    font-size: 34px;
    font-weight: 400;
  }
  .function-left{
    width: 100vw;
  }
  .function-left .nav{
    transform: translateX(0);
    top: 65px !important;
  }
}